# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/
.pub-cache/

# Android
*.jks
android/local.properties
.gradle/

# iOS
Pods/
**/ios/Flutter/ephemeral/

# Windows/Linux/Mac
**/windows/flutter/generated_*
**/linux/flutter/generated_*
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Coverage
coverage/

# ENV (IMPORTANT)
.env